th{
    background-color: rgba(246, 246, 246, 0.86);
    font-size : 20pt ;
    font-weight: bolder;
    text-align: center;
}

label{
    font-size: 21pt;
    font-weight: bolder;
}

html, body{
    overflow: hidden;
    background-image: url('hintergrundFahrten.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    align-content: center;
}

#container{
    padding: 20px;
    border-radius:5px;
    width: 94%;
    position:relative;
    height: 100%;
    background-color: rgba(246, 246, 246, 0.7);
    box-shadow: 16px 26px 26px rgba(0, 0, 0, 0.4);
    margin : auto;
}

tr,tbody{width: 100%;}

td {text-align : center;}
