.form-einloggen{max-width: 590px;
    padding: 15px;
    margin: 0 auto 15px;
}

.loginbox{
    height: 42%;
    padding : 40px;
    background-color: #f7f7f7;
    box-shadow: 16px 26px 26px rgba(0, 0, 0, 0.4);
    margin-bottom: 120px;
}

#logo {
    width: 96px;
    height: 96px;
    margin: 50px auto auto;
    display: block;
}

#registrieren {
    font-size: 18pt;
    font-weight: bold;
    margin: auto;
    align-self: center;
    display: block;
}

.login-oder{
    position: relative;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;}

html, body {
    overflow: hidden;
    background-image: url('hintergrundIndex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.form-einloggen .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}